<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>header}}

    <div class="container" id="ErrorImage">
        <div class="row">
            <div class="col text-center">
                <img src="../images/404Error.png"  alt="">
                <h4 class="my-3">Welcome to Weather Updates App</h4>
                <h5 class="my-3">OOps! you Lost...</h5>
                <button class="button my-3">Back to Home</button>
            </div>
        </div>
    </div>

    {{>footer}}


</body>

</html>